Repository unb-mds/2024-1-MinasDeCultura, pull requests merged in 2024-09, with the labels that each got.

#139 build: automacao dos testes do backend
  .github/workflows/jest_tests.yml
  backend/package.json
Labels: high priority, test

#141 Novos Componentes e Dashboard Interativo na Guia de Pesquisa
  backend/src/services/tendersMonthService.js
  docs/Como executar/Front-end/Testes unitários/Testes do Componente Filtro.md
  front/package-lock.json
  front/src/app/globals.css
  front/src/app/page.tsx
  front/src/components/Busca.tsx
  front/src/components/Filtro.tsx
  front/src/components/Footer.tsx
  front/src/components/Grafico.tsx
  front/src/components/Header.tsx
  front/src/components/Informacoes.tsx
  front/src/components/Integrantes.tsx
  front/src/components/Mensagem.tsx
  front/src/components/Pilares.tsx
  front/src/components/Slider.tsx
  front/src/services/api.ts
  front/src/testes/Filtro.test.jsx
  front/src/testes/Informacoes.test.jsx
  front/src/testes/Pilares.test.jsx
Labels: high priority, documentation, feature, test, improvement

#140 Toques Finais: Integração da Developer para Main - Última Entrega do Projeto
  .github/workflows/jest_tests.yml
  .github/workflows/main.yml
  README.md
  backend/README.md
  backend/eslint.config.mjs
  backend/package-lock.json
  backend/package.json
  backend/raspadores/Selenium_transparencia/portal_transparência_ano.py
  backend/raspadores/Selenium_transparencia/portal_transparência_busca_específica.py
  backend/raspadores/Selenium_transparencia/portal_transparência_mês.py
  backend/raspadores/Selenium_transparencia/selenium_portal_transparencia_anos.json
  backend/raspadores/Selenium_transparencia/selenium_portal_transparencia_meses.json
  backend/src/controllers/tendersMonthController.js
  backend/src/controllers/tendersYearController.js
  backend/src/index.js
  backend/src/routes/tendersMonthRoutes.js
  backend/src/routes/tendersYearRoutes.js
  backend/src/scripts/insertTendersMonth.js
  backend/src/scripts/insertTendersYear.js
  backend/src/services/tendersMonthService.js
  backend/src/services/tendersYearService.js
  docs/Como executar/Front-end/Testes unitários/Testes do Componente Filtro.md
  docs/Como executar/backend/Executar a API.md
  docs/index.md
  front/package-lock.json
  front/src/app/globals.css
  front/src/app/page.tsx
  front/src/components/Busca.tsx
  front/src/components/Filtro.tsx
  front/src/components/Footer.tsx
  front/src/components/Grafico.tsx
  front/src/components/Header.tsx
  front/src/components/Informacoes.tsx
  front/src/components/Integrantes.tsx
  front/src/components/Mensagem.tsx
  front/src/components/Pilares.tsx
  front/src/components/Slider.tsx
  front/src/services/api.ts
  front/src/testes/Filtro.test.jsx
  front/src/testes/Informacoes.test.jsx
  front/src/testes/Pilares.test.jsx
Labels: high priority, documentation, fix, feature
